
<html>
    <head>
        <h1 align="center">My Perfect Cookbook</h1>
        <h3 align="center">
            <a href="{% url 'home' %}">Home</a>
            <a href="{% url 'recipe_list' %}">Recipes</a>
            <a href="{% url 'all_users' %}">Users</a>
            <a href="{% url 'create_recipe' %}">Create a new Recipe</a>
            <a href="{% url 'create_user' %}">Create a new Profile</a>
        </h3>
    </head>
    <body>
    {% block content %}      
    {% endblock %}
    </body>
</html>
