<!--
    Filename: templates/delete_status_message_form.html
    Name: Marissa Kachadoorian (mdkach@bu.edu)
    Description: template for users to delete a status message on their profile
-->
<center>

    <h3>Are you sure you want to delete this post?</h3>

    {{st_msg.message}}
    <p>
    
    </p>
    
    <form method='POST'>
        {% csrf_token %}
        <input type='submit' name="yes" value="yes">
    </form>
    
    <form method='GET' action="{% url 'user' st_msg.user.pk %}">
        {% csrf_token %}
        <input type='submit' name="no" value="no">
    </form>
    

</center>
