<!--
    Filename: templates/home.html
    Name: Marissa Kachadoorian (mdkach@bu.edu)
    Description: template for the website homepage
-->
{% extends 'project/base.html' %}

{% block content %} 
<br>
<br>
<br>
<center>
<table>
    <colgroup>
        <col span="1" style="width: 20%;">
        <col span="1" style="width: 20%;">
        <col span="1" style="width: 20%;">
    </colgroup>
    <tr>
        <th></th>
        <th></th>
        <th></th>
    </tr>
    <tr>
        <td></td>
        <td><h2>Welcome to MyPerfectCookbook!</h2><br>
            <h3>This is an interactive website that allows you to add recipes for others
            to see, create a profile with your own list of recipes, post status messages 
            on how you feel about your project, and post comments on recipes you like!<br><br>
            Our goal is to create a welcoming environement for people of all skill levels to come 
            together and share ideas! 
        </h3></td>
        <td></td>
    </tr>
</table>
</center>  
</center>


{% endblock %}