<!--
    Filename: templates/recipe.html
    Name: Marissa Kachadoorian (mdkach@bu.edu)
    Description: template to show one recipe
-->
{% extends 'project/base.html' %}

{% block content %} 
<center>
    <h1>{{recipe.recipe}}</h1>
    <img src='{{recipe.image}}' style='width: 400px;'><br>
    <h2>{{recipe.cook}}</h2><br>
    <table border="0">
        <colgroup>
            <col span="1" style="width: 20%;">
            <col span="1" style="width: 20%;">
            <col span="1" style="width: 20%;">
        </colgroup>
        <tr>
            <td></td>
            <td align="center"><pre>{{recipe.instructions}}<br></pre></td>
            <td></td>
        </tr>
    </table>
    <h3>Cooktime: {{recipe.cooktime}}</h3>
     
    <a href="{% url 'update_recipe' recipe.pk %}">Update this recipe</a><br>

    <h2>Comments</h2>
    <table border="0">
        <colgroup>
            <col span="1" style="width: 20%;">
            <col span="1" style="width: 20%;">
            <col span="1" style="width: 20%;">
        </colgroup>
        <tr>
            <th><h3 style="color:Black">Time</h3></th>
            <th><h3 style="color:black">User</h3></th>
            <th><h3 style="color:black">Message</h3></th>
        </tr>
        
        {% for p in recipe.get_all_comments %}
            <tr>
                <td align="center">{{p.timestamp}}</td>
                <td align="center">{{p.user}}</td>
                <td align="center">{{p.message}}</td>
                <!-- <td>{% if p.image %}
                    <img src='{{p.image}}' style='width: 200px;'>
                    {% endif %}
                </td> -->
            </tr>
        {% endfor %}
    </table>
    
    <form method='POST' enctype="multipart/form-data" action="/project/recipe_list/{{recipe.pk}}/post_comment">
    {% csrf_token %}

        <table>
        {% for st_msg in create_comment %}
        <tr>
            <th>{{st_msg.name}}</th>
            <td>{{st_msg}}</td>
        </tr>
        {% endfor %}
        <tr>
            <td></td>
            <td>
                <input type="submit" name= 'Create a comment' value='Create a comment'>
            </td>
        </tr>
        </table>
    </form>

</center>


{% endblock %}