<!--
    Filename: templates/update_user.html
    Name: Marissa Kachadoorian (mdkach@bu.edu)
    Description: template for users to update a user's profile information
-->
{% extends 'project/base.html' %}

{% block content %} 
<center>
<h2>Update User's Profile</h2>

<form method='POST'>
{% csrf_token %}
    <table>
    {% for field in form %}
    <tr>
        <th>{{field.name}}</th>
        <td>{{field}}</td>
    </tr>
    {% endfor %}
    <tr>
        <td></td>
        <td>
            <input type="submit" name = "Update User" value="Update User">
        </td>
    </tr>
    </table>
</form>
<!-- 
<form action="" method="post">{% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Create" />
</form> -->
</center>
{% endblock %}