<!--
    Filename: templates/update_recipe.html
    Name: Marissa Kachadoorian (mdkach@bu.edu)
    Description: template for users to update a recipe
-->
{% extends 'project/base.html' %}

{% block content %} 
<center>
<h2>Update Recipe</h2>

<form method='POST'>
{% csrf_token %}
    <table>
    {% for field in form %}
    <tr>
        <th>{{field.name}}</th>
        <td>{{field}}</td>
    </tr>
    {% endfor %}
    
    <tr>
        <td></td>
        <td>
            <input type="submit" name = "Update Recipe" value="Update Recipe">
        </td>
    </tr>
    </table>
</form>
</center>
<!-- 
<form method='post'>
    {% csrf_token %}
    {{ form.as_p }}
    <input type='submit' value='submit'>
</form> -->
{% endblock %}