<!--
    Filename: templates/user.html
    Name: Marissa Kachadoorian (mdkach@bu.edu)
    Description: template to show one user's profile
-->
{% extends 'project/base.html' %}

{% block content %} 


<center>
    <h1>This is my cookbook</h1>
    <h3>{{user.name}}</h3>
    <pr><img src='{{user.profile_image}}' style='width: 300px;'></pr><br>
    <br>
    {{user.email}}<br>
    {{user.biography}}<br>
    <a href="{% url 'update_user' user.pk %}">Update this user</a><br>
    
</center>
<center>
    <h2>My Cookbook</h2>
    <table border="0">
        <colgroup>
            <col span="1" style="width: 20%;">
            <col span="1" style="width: 20%;">
            <col span="1" style="width: 20%;">
            <col span="1" style="width: 20%;">
        </colgroup>
        
        <tr>
            <th></th>
            <th><h3>Time</h3></th>
            <th><h3>Dish</h3></th>
            <th></th>
        </tr>
        {% for recipe in user.get_all_recipes %} <!--this for loop processes each recipe in a list of 
            recipes added to a personal cookbook-->
        <tr>
            <td></td>
            <td>
                {{recipe.timestamp}}
            </td>
            <td>
                <a href="{% url 'recipe' recipe.project.pk %}">{{recipe.project}}</a>
            </td>
            <td><a href="{% url 'recipe' recipe.project.pk %}"><img src='{{recipe.project.image}}' 
                style='width: 200px;'></a></td>
        </tr>
        {% endfor %}
    </table>
</center>

<center>
<form method='POST' enctype="multipart/form-data" action="/project/all_users/{{user.pk}}/add_recipe">
    {% csrf_token %}

        <table>
        {% for field in add_recipe_to_cookbook %} <!--this for loop processes each input including the name and the 
            form field (drop down of recipes) for each recipe added to a cookbook add_recipe_to_cookbook-->
        <tr>
            <th>{{field.name}}</th>
            <td>{{field}}</td>
        </tr>
        {% endfor %}
        <tr>
            <td></td>
            <td>
                <input type="submit" name= 'Add recipe' value='Add recipe'>
            </td>
        </tr>
        </table>
    </form>
</center>

<center>
    <h2>Comments on my Cookbook</h2>
    <table border="0">
        <colgroup>
            <col span="1" style="width: 20%;">
            <col span="1" style="width: 20%;">
            <col span="1" style="width: 20%;">
            <col span="1" style="width: 20%;">
        </colgroup>
        <tr>
            <th></th>
            <th><h3 style="color:black">Time</h3></th>
            <th><h3 style="color:black">Message</h3></th>
            <th></th>
        </tr>
        {% for post in user.get_all_statusmessages %} <!-- this  for loop processes the timestamp 
            and message for each status message in get_all_status_messages-->
            <tr>
                <td></td>
                <td align="center">{{post.timestamp}}</td>
                <td align="center">{{post.message}}</td>
                <td>{% if post.image %}
                    <img src='{{post.image.url}}' style='width: 100px;'>
                    {% endif %} 
                </td>
                <td>
                    <a href="{% url 'delete_status' user_pk=user.pk statusmessage_pk=post.pk%}">Delete</a>
                </td>
            </tr>
        {% endfor %}
    </table>


    <form method='POST' enctype="multipart/form-data" action="/project/all_users/{{user.pk}}/post_status">
    {% csrf_token %}

        <table>
        {% for st_msg in create_status_form %}<!--this form processes each form label and form field to 
            submit a status message on a user's page -->
        <tr>
            <th>{{st_msg.name}}</th>
            <td>{{st_msg}}</td>
        </tr>
        {% endfor %}
        <tr>
            <td></td>
            <td>
                <input type="submit" name= 'Create a status' value='Create a status'>
            </td>
        </tr>
        </table>
    </form>
</center>


{% endblock %}