<!-- templates/show_all_profiles.html-->

{% extends 'mini_fb/base.html' %}
{% block content %} 
<h2>Showing all Profiles</h2>

<!-- scriplet code to display the value of the variable 'all_profiles_list'-->

<table border="1">
    <colgroup>
        <col span="1" style="width: 20%;">
        <col span="1" style="width: 20%;">
        <col span="1" style="width: 20%;">
        <col span="1" style="width: 40%;">
    </colgroup>
    <tr>
        <th><h2 style="color:salmon">Name</h2></th>
        <th><h2 style="color:salmon">City</h2></th>
        <th><h2 style="color:salmon">Email Address</h2></th>
        <th><h2 style="color:salmon">Image</h2></th>
    </tr>
    {% for profile in all_profiles_list %}
        <tr>  
            <td align="center" ><a href="{% url 'profile' profile.pk %}">{{profile.first_name}}</a> <a href="{% url 'profile' profile.pk %}">{{profile.last_name}}</a></td>
            <td align="center" >{{profile.city}}</td>
            <td align="center" >{{profile.email_address}}</td>
            <td align="center" ><a href="{% url 'profile' profile.pk %}"><img src="{{profile.image_url}}" style="max-width:600;"></a></td>
        </tr>
    {% endfor %}
</table>

{% endblock %}

