
<!-- template/profile.html-->

<!--home-->
{% extends 'mini_fb/base.html' %}
{% block content %} 

<h3>{{profile.first_name}} {{profile.last_name}}</h3>
<img src='{{profile.image_url}}' style='width: 400;'><br>
<br>
{{profile.email_address}}<br>
{{profile.city}}<br>

<pr></pr>
    <a href="{% url 'update_profile' profile.pk %}">Update this profile</a>
</pr>
<br>

<h2>Status Messages</h2>
<table border="0">
    <colgroup>
        <col span="1" style="width: 50%;">
        <col span="1" style="width: 50%;">
    </colgroup>
    <tr>
        <th><h3 style="color:salmon">Time</h3></th>
        <th><h3 style="color:salmon">Message</h3></th>
    </tr>
    {% for p in profile.get_all_statusmessages %}
        <tr>
            <td align="center">{{p.timestamp}}</td>
            <td align="center">{{p.message}}</td>
        </tr>
    {% endfor %}
    
</table>



<h2>Create Status Message</h2>
<form method='POST' action="/mini_fb/profile/{{profile.pk}}/post_status">
{% csrf_token %}
    <table>
    {% for field in create_status_form %}
    <tr>
        <th>{{field.name}}</th>
        <td>{{field}}</td>
    </tr>
    {% endfor %}
    <tr>
        <td></td>
        <td>
            <input type="submit" name= 'Create a status' value='Create a status'>
        </td>
    </tr>
    </table>
</form>

{% endblock %}